.mixin.out/**
crash-reports/**
logs/**
mods/**
natives/**
paintings/**
palettes/**
local/**
patchouli_books/**
resourcepacks/**
saves/**
schematics/**
screenshots/**
themes/**
config.json
hotbar.nbt
knownkeys.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
reauth.toml
servers.dat
servers.dat_old
usercache.json
usernamecache.json
