# Configuration file for adding microblock materials for aesthetic blocks added by mods
# The '#' character defines a comment, everything after this character on a given line will be ignored.
# Each line needs to be of the form <registry_name>[property=value,otherProperty=value]
# <registry_name> being the registry name of the block. E.G: 'minecraft:stone'
# This can optionally be followed by Key-Value pairs describing any block state properties.
# If no properties are defined, the default state of the block will be used.
# Examples:
#  'minecraft:stone'
#  'minecraft:grass_block[snowy=true]'
